.value {
  padding: 64px 0 83px;

  &__wrapper {
    max-width: 830px;
    margin: auto;
    width: 100%;
  }

  &__desc {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 70px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 50px;
    }


    & p {
      margin-top: 25px;

      & span {
        font-weight: 600;
      }
    }
  }

  &__docs {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 42px auto 0;
    @media screen and (max-width: 768px) {
      margin: 22px auto 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

  }

  &__doc {
    background: $lightGray;
    border-radius: 6px;
    height: 187px;
    flex-basis: 26%;
    @media screen and (max-width: 768px) {
      min-height: 150px;
      margin-top: 10px;
      height: 150px;
      width: 250px;
      flex-basis: 100%;
    }

  }

}
