// Colors HEX
$white: #ffffff;
$black: #000000;
$lightGreen: #39B54A;
$lightGreenHover: #7cd08a;
$lightGreenActive: #1f4827;
$lightBlack:rgba(0, 0, 0, 0.79);
$lightGray:#C4C4C4;
$Gray: rgba(0, 0, 0, 0.5);

// Fonts
$main-font-family: 'Inter', sans-serif;
$common-fonts: 'Lato', sans-serif;
