.about {

  &__wrapper {
    max-width: 900px;
    margin: auto;
    width: 100%;
    @media screen and (max-width: 992px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 10px;

    }


  }

  &__sentence {
    text-align: center;
    padding: 0 25px;

    p {
      font-weight: 300;
      font-size: 36px;
      line-height: 1.3;
      @media screen and (max-width: 992px) {
        font-size: 28px;

      }
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }


      &.bold {
        font-weight: 600;
      }

      &.italic {
        font-style: italic;
      }
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      margin-top: 15px;

    }
  }

  &__orp {
    margin-top: 35px;
    padding: 0 25px;

  }

  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    @media screen and (max-width: 768px) {
      font-size: 18px;

    }
  }

  &__list {
    margin-top: 55px;
    @media screen and (max-width: 768px) {
      margin-top: 35px;
    }
  }

  &__punk {
    margin-top: 15px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    @media screen and (max-width: 768px) {
      font-size: 18px;

    }
  }

  & .gen-title {
    text-align: center;
  }

  &__video {
    margin-top: 75px;
    @media screen and (max-width: 768px) {
      margin-top: 45px;

    }

    iframe {
      width: 100%;
      height: 459px;
      @media screen and (max-width: 768px) {
        font-size: 18px;
        height: 259px;
      }
    }
  }
}
