.enterp {

  &__wrapper {
    max-width: 900px;
    margin: auto;
    width: 100%;

    @media screen and (max-width: 992px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 10px;

    }
  }

  &__first-block {
    margin-bottom: 85px;
    @media screen and (max-width: 768px) {
      margin-bottom: 45px;
    }

  }

  &__desc {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 39px;
    margin-bottom: 19px;

    &.second {
      margin-bottom: 51px;

    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
      &.second {
        margin-bottom: 21px;

      }
    }
  }
}
