.homepage {

  text-align: center;

  &__first-block {
    margin-bottom: 158px;
    @media screen and (max-width: 768px) {
      margin-bottom: 88px;
    }
  }


  &__desc {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 41px;

    &.bold {
      font-weight: bold;
    }

    &.italic {
      font-style: italic;
      font-size: 18px;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;

      &.italic {
        font-style: italic;
        font-size: 16px;
      }
    }

  }

  &__wrapper-panel {
    display: flex;
    max-width: 480px;
    width: 100%;
    justify-content: space-between;
    margin: 35px auto 0;
    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      margin: 15px auto 0;

      & button:not(first-child) {
        margin-top: 15px;
      }
    }

  }

  &__wrapper-btn {
    width: 131px;
  }

  &__schem {
    margin-top: 45px;

    & img {
      max-width: 650px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__second-block {
    margin-bottom: 78px;
    @media screen and (max-width: 768px) {
      margin-bottom: 48px;
    }

  }

  &__tech {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

  }

  &__tech-anchor {
    display: flex;
    flex-direction: column;
    height: 238px;
    flex-basis: 22%;
    justify-content: space-between;
    background: $lightGray;
    padding: 33px 15px 36px 15px;
    border-radius: 5px;

    & .gen {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.1;
    }

    & .inner {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.3;
    }

    @media screen and (max-width: 768px) {
      width: 250px;
      margin: auto auto 15px;
    }
  }

  &__third-block {
    margin-bottom: 119px;
    @media screen and (max-width: 768px) {
      margin-bottom: 68px;

    }
  }

  &__climate {
    max-width: 770px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 35px auto 0;
    @media screen and (max-width: 768px) {
      flex-direction: column;

    }
  }

  &__climate-item {
    margin-top: 35px;
    padding: 0 40px 0 44px;
    flex-basis: 48%;
    height: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $lightGray;
    justify-content: center;
    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      margin: auto;
      width: 70%;
      min-height: 150px;
    }

    &:nth-child(n - 2) {
      margin-top: 30px;
    }

    & .gen {
      font-weight: 300;
      font-size: 24px;
      line-height: 1.2;
    }

    & .inner {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__four-block {
    margin-bottom: 94px;
    @media screen and (max-width: 768px) {
      margin-bottom: 54px;
    }
  }

  &__wrap-desc {
    margin: auto;
    max-width: 770px;
  }

  &__eco {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }

  &__eco-item {
    background: $lightGray;
    border-radius: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 195px;
    flex-basis: 22%;
    margin-top: 43px;
    @media screen and (max-width: 768px) {
      min-height: 120px;
      width: 70%;
    }

  }


}
